{% include '@drupal/partials/header.html.twig' %}
<div>
  {{page.primary_menu}}
</div>
<div>
 {{page.content}}
</div>
{% if page.footer %}
 <footer role="contentinfo">
   {{ page.footer }}
 </footer>
{% endif %}
